DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-me-to-a-secure-random-string
DJANGO_ALLOWED_HOSTS=yoursecretwebsite.com,www.yoursecretwebsite.com
DJANGO_SUPERUSER_PASSWORD=ChangeThisStrongPassword123!
DJANGO_SUPERUSER_USERNAME=Yasmim Poliana
DJANGO_SUPERUSER_EMAIL=polianayasmim27@gmail.com

