{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Entrar{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/usuarios/auth.css' %}">
<div class="auth-container login">
    <h1 class="auth-title">Entrar</h1>
    
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" style="color: var(--text-color);">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <div style="color: red; font-size: 0.9rem;">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <div style="text-align: center;">
            <button type="submit" class="btn">Entrar</button>
        </div>

        <div class="google-btn-wrapper" style="margin-top: 20px;">
            <div class="auth-divider">
                <div class="line"></div>
                <span>OU</span>
                <div class="line"></div>
            </div>

            <a href="{% provider_login_url 'google' process='login' scope='profile email' prompt='select_account' %}"
                title="Entrar com Google" class="google-btn">
                <img src="https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg" alt="Google">
            </a>
        </div>
        
        <div class="auth-forgot-password">
            <a href="{% url 'usuarios:password_reset' %}">Esqueci minha senha</a>
        </div>
    </form>
    
    <p class="auth-footer-text">Não tem uma conta? <a href="{% url 'usuarios:register' %}">Cadastre-se</a></p>
</div>
{% endblock %}